---
layout: layouts/home.njk
title: VIP Groups Music
eleventyNavigation:
  key: Home
  order: 1
---
<article class="hero">
<div class="hero__c">
  <h1 class="hero__heading">VIP Music Group</h1>

  <h2 class="hero__subheading">Bespoke music services for artists and the industry</h2>

  <a href="/page.html"><button>Our Story</button></a>

  <div class="footer__socials">
    <a href="https://instagram.com">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><defs/><path d="M352 0H160C72 0 0 72 0 160v192c0 88 72 160 160 160h192c88 0 160-72 160-160V160C512 72 440 0 352 0zm112 352c0 62-50 112-112 112H160c-62 0-112-50-112-112V160C48 98 98 48 160 48h192c62 0 112 50 112 112v192z"/><path d="M256 128a128 128 0 100 256 128 128 0 000-256zm0 208a80 80 0 110-160 80 80 0 010 160z"/><circle cx="393.6" cy="118.4" r="17.1"/></svg>
    </a>

    <a href="https://youtube.com">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><defs/><path d="M490 114c-14-25-29-29-59-31a3687 3687 0 00-350 0c-30 2-45 6-59 31C7 139 0 181 0 256s7 117 22 142c14 25 29 29 59 31a4167 4167 0 00350 0c30-2 45-6 59-31 15-24 22-67 22-142s-7-117-22-142zM192 352V160l160 96-160 96z"/></svg>
    </a>

    <a href="https://facebook.com">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><defs/><path d="M448 0H64C29 0 0 29 0 64v384c0 35 29 64 64 64h192V336h-64v-80h64v-64c0-53 43-96 96-96h64v80h-32c-18 0-32-2-32 16v64h80l-32 80h-48v176h96c35 0 64-29 64-64V64c0-35-29-64-64-64z"/></svg>
    </a>

    <a href="https://twitter.com">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><defs/><path d="M512 97c-19 9-39 14-60 17 21-13 38-34 46-58-21 12-43 20-67 25a105 105 0 00-179 96c-87-4-164-46-216-110a106 106 0 0032 140c-17 0-34-5-48-13v2c0 51 37 93 85 103a105 105 0 01-48 1c14 42 52 73 98 74A211 211 0 010 417c46 30 102 47 161 47a297 297 0 00298-312c21-15 39-34 53-55z"/></svg>
    </a>
  </div>
</div>
</article>

<ul>
{%- for post in collections.pages -%}
<li{% if page.url == post.url %} aria-current="page"{% endif %}><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>

<article class="news">
<div class="carousel" data-flickity='{ "groupCells": true, "wrapAround": true, "autoPlay": 5000, "prevNextButtons": false, "pageDots": false, "imagesLoaded": true }'>
  <div class="carousel-cell">
    <img class="bbc" src="/assets/graphics/logos/1.png" srcset="/assets/graphics/logos/1.png 2x" alt="News image 1" />
  </div>

  <div class="carousel-cell">
    <img src="/assets/graphics/logos/2.png" srcset="/assets/graphics/logos/2.png 2x" alt="News image 1" />
  </div>

  <div class="carousel-cell">
    <img src="/assets/graphics/logos/3.png" srcset="/assets/graphics/logos/3.png 2x" alt="News image 1" />
  </div>

  <div class="carousel-cell">
    <img src="/assets/graphics/logos/4.png" srcset="/assets/graphics/logos/4.png 2x" alt="News image 1" />
  </div>

  <div class="carousel-cell">
    <img src="/assets/graphics/logos/5.png" srcset="/assets/graphics/logos/5.png 2x" alt="News image 1" />
  </div>

  <div class="carousel-cell">
    <img src="/assets/graphics/logos/6.png" srcset="/assets/graphics/logos/6.png 2x" alt="News image 1" />
  </div>



  <div class="carousel-cell">
    <img src="/assets/graphics/logos/10.jpg" srcset="/assets/graphics/logos/10.jpg 2x" alt="News image 1" />
  </div>

  <div class="carousel-cell">
    <img src="/assets/graphics/logos/11.jpg" srcset="/assets/graphics/logos/11.jpg 2x" alt="News image 1" />
  </div>

  <div class="carousel-cell">
    <img src="/assets/graphics/logos/12.jpg" srcset="/assets/graphics/logos/12.jpg 2x" alt="News image 1" />
  </div>

  <div class="carousel-cell">
    <img src="/assets/graphics/logos/13.jpg" srcset="/assets/graphics/logos/13.jpg 2x" alt="News image 1" />
  </div>



  <div class="carousel-cell">
    <img src="/assets/graphics/logos/20.svg" srcset="/assets/graphics/logos/20.svg 2x" alt="News image 1" />
  </div>
</div>
</article>

<article class="releases">
<div class="releases__c">
  <h2>Services</h2>

  <div class="carousel" data-flickity='{ "groupCells": false, "wrapAround": true, "autoPlay": 5000, "prevNextButtons": false, "pageDots": false, "imagesLoaded": true }'>
    <div class="carousel-cell3">
      <div class="release__artwork2">
        <img src="/assets/images/artwork2.jpg" srcset="/assets/images/artwork2.jpg 1x, /assets/images/artwork2-2x.jpg 2x" alt="" />
      </div>

      <h3>Artist Management</h3>
    </div>

    <div class="carousel-cell3">
      <div class="release__artwork2">
        <img src="/assets/images/artwork4.jpg" srcset="/assets/images/artwork4.jpg 1x, /assets/images/artwork4-2x.jpg 2x" alt="" />
      </div>

      <h3>Distribution</h3>
    </div>

    <div class="carousel-cell3">
      <div class="release__artwork2">
        <img src="/assets/images/artwork1.jpg" srcset="/assets/images/artwork1.jpg 1x, /assets/images/artwork1-2x.jpg 2x" alt="" />
      </div>

      <h3>Post-production</h3>
    </div>

    <div class="carousel-cell3">
      <div class="release__artwork2">
        <img src="/assets/images/artwork2.jpg" srcset="/assets/images/artwork2.jpg 1x, /assets/images/artwork2-2x.jpg 2x" alt="" />
      </div>

      <h3>Artist Management</h3>
    </div>

    <div class="carousel-cell3">
      <div class="release__artwork2">
        <img src="/assets/images/artwork4.jpg" srcset="/assets/images/artwork4.jpg 1x, /assets/images/artwork4-2x.jpg 2x" alt="" />
      </div>

      <h3>Distribution</h3>
    </div>

    <div class="carousel-cell3">
      <div class="release__artwork2">
        <img src="/assets/images/artwork1.jpg" srcset="/assets/images/artwork1.jpg 1x, /assets/images/artwork1-2x.jpg 2x" alt="" />
      </div>

      <h3>Post-production</h3>
    </div>
  </div>
</div>
</article>
